In [1]:
import pandas as pd
import os
data = pd.read_csv(""

IOError: File lessons/lesson-02/assets/dataset/ozone.csv does not exist

In [15]:
data.columns.values

array(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype=object)

In [82]:
##Print the column names of the dataset to the screen, one column name per line.
data.dtypes
for value in data.columns.values:
    print value

Ozone
Solar.R
Wind
Temp
Month
Day

In [22]:
# Extract the first 2 rows of the data frame and print them to the console. What does the output look like?
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [23]:
# How many observations (i.e. rows) are in this data frame? 153
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB

In [24]:
# Extract the last 2 rows of the data frame and print them to the console. What does the output look like?
data.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

In [25]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [83]:
# What is the value of Ozone in the 47th row?
data[['Ozone']].iloc[46]
data.loc[46]

Ozone    21.0
Name: 46, dtype: float64

In [85]:
# How many missing values are in the Ozone column of this data frame?
data.describe()
data[['Ozone']].isnull().count(axis=0)- data[['Ozone']].count(axis=0)
sum(data['Ozone']).isnull
data['Ozone'].isnull().sum()

37

In [42]:
# What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA) from this calculation.
data.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

In [51]:
# Continued from above, part b of question.
data.mean(skipna=True)

Ozone       42.129310
Solar.R    185.931507
Wind         9.957516
Temp        77.882353
Month        6.993464
Day         15.803922
dtype: float64

In [77]:
#Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90. 
# What is the mean of Solar.R in this subset?
data[data['Ozone'] > 31][data['Temp'] < 90]['Solar.R'].mean()

/Users/kimberlygrauer/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

213.64285714285714

In [91]:
data[data['Ozone'] > 31]

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
16    34.0    307.0  12.0    66      5   17
23    32.0     92.0  12.0    61      5   24
28    45.0    252.0  14.9    81      5   29
29   115.0    223.0   5.7    79      5   30
30    37.0    279.0   7.4    76      5   31
39    71.0    291.0  13.8    90      6    9
40    39.0    323.0  11.5    87      6   10
47    37.0    284.0  20.7    72      6   17
61   135.0    269.0   4.1    84      7    1
62    49.0    248.0   9.2    85      7    2
63    32.0    236.0   9.2    81      7    3
65    64.0    175.0   4.6    83      7    5
66    40.0    314.0  10.9    83      7    6
67    77.0    276.0   5.1    88      7    7
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
70    85.0    175.0   7.4    89      7   10
76    48.0    260.0   6.9    81      7   16
77    35.0    274.0  10.3    82      7   17
78    61.0    285.0   6.3    84      7   18
79    79.0    187.0   5.1    87      7   19
80    63.0    220.0  11.5    85      7   20
84    80.0    294.0   8.6    86      7   24
85   108.0    223.0   8.0    85      7   25
87    52.0     82.0  12.0    86      7   27
88    82.0    213.0   7.4    88      7   28
89    50.0    275.0   7.4    86      7   29
90    64.0    253.0   7.4    83      7   30
91    59.0    254.0   9.2    81      7   31
92    39.0     83.0   6.9    81      8    1
95    78.0      NaN   6.9    86      8    4
96    35.0      NaN   7.4    85      8    5
97    66.0      NaN   4.6    87      8    6
98   122.0    255.0   4.0    89      8    7
99    89.0    229.0  10.3    90      8    8
100  110.0    207.0   8.0    90      8    9
103   44.0    192.0  11.5    86      8   12
105   65.0    157.0   9.7    80      8   14
108   59.0     51.0   6.3    79      8   17
111   44.0    190.0  10.3    78      8   20
115   45.0    212.0   9.7    79      8   24
116  168.0    238.0   3.4    81      8   25
117   73.0    215.0   8.0    86      8   26
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
127   47.0     95.0   7.4    87      9    5
128   32.0     92.0  15.5    84      9    6
133   44.0    236.0  14.9    81      9   11
138   46.0    237.0   6.9    78      9   16
145   36.0    139.0  10.3    81      9   23

In [62]:
data.isnull?

In [79]:
# What is the mean of "Temp" when "Month" is equal to 6?
data[data['Month'] == 6]['Temp'].mean()

79.1

In [80]:
# What was the maximum ozone value in the month of May (i.e. Month = 5)?
data[data['Month']==5]['Ozone'].describe()

count     26.000000
mean      23.615385
std       22.224449
min        1.000000
25%       11.000000
50%       18.000000
75%       31.500000
max      115.000000
Name: Ozone, dtype: float64

In [88]:
data.sum()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB